<mat-horizontal-stepper>
  <mat-step label="Welcome">
    Hello {{user.firstName}} {{user.lastName}}
  </mat-step>
  <mat-step label="Cuisines">
    <h2>Which Cuisines do you like?</h2>
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="cuisineFormControl"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option (onSelectionChange)="selectedCuisine(option)" *ngFor="let option of filteredCuisines | async"
                      [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br/>Selected Cuisines
      <mat-list>
        <mat-list-item *ngFor="let cuisine of chosenCuisines">
          {{cuisine}}
        </mat-list-item>
      </mat-list>
  </mat-step>
  <mat-step label="Interests">
    <h2>Which Interests do you have?</h2>
  </mat-step>
  <mat-step label="More About yourself">
    Bio input
  </mat-step>
  <mat-step label="Done">
    You can submit
  </mat-step>
</mat-horizontal-stepper>
